*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

.menu{
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color: #222;
    display: flex;
    padding: 0 10px;
    cursor: pointer;
}
.menu h3 a{
    /* width: 50%; */
    color: #fff;
   text-transform: capitalize;
}
.menu h3 i{
    padding-right: 5px;
    color: red;
}
.menu .ff i{
    color: rgb(62, 190, 62);
    margin-left: 5px;
}
.menu ul{
    width: 50%;
    display: flex;
    justify-content: flex-start;
}
.menu ul li a{
    color: #777;
    text-transform: capitalize;
    padding-left: 45px;
}
.menu ul li a:hover{
    color: rgb(184, 184, 184);
    transition: .3s;
}
.menu ul li a::before{
    content: '';
    position: absolute;
    top: 55px;
    bottom: 0px;
    width: 0px;
    height: 4px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    padding: 0;
    transition: .3s;
    
}
.menu a:hover::before{
    width: 70px ;
}
.icon{
    margin-left: 280px;
}
.icon i{
    margin-right: 15px;
    color: #777;
    font-size: 20px;
    transition: .2s;
}
.icon i:hover{
    color: #fff;
    transition: .3s;
    
}
.menu .inp{
    /* width: 100px;
    height: 20px; */
    margin-left: 40px;
    
}
.menu .inp input{
   width: 250px;
   background: #555;
   outline: none;
   border: none;
   color: rgb(192, 192, 192);
    position: absolute;
    top: 20px;
    padding: 10px 7px;
    border-radius: 10px;
}
::placeholder{
    color: rgb(150, 150, 150);
}
.article{
    width: 100%;
    height: 400px;
    background: #444;
}
.article h1{
    text-align: center;
    padding-top: 100px;
    color: #fff;
}
.article .text{
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    padding-top: 10px;
}
.article .inspiration{
    border-bottom: 1px solid #fff;
    width: 80px;
    text-align: center;
    margin: 0 auto;
  display: inline-block;
}
.article .b{
    text-align: center;
    display: inline-block;
}
.article .temp{
    width: 75px;
    border-bottom: 1px solid #fff;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
}
.article .land{
    width: 200px;
    border-bottom: 1px solid #fff;
    margin: 0 auto;
    display: inline-block;
}
.card{
    width: 100%;
    height: 185px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    background-color: #aaaaaa;
}
.card .card_img{
    margin: 0 20px;
    position: relative;
    top: -100px;
    
}
.card .card_img img{
    border-radius: 10px
}
.card .coment{
    width: 300px;
    height: 80px;
    padding: 15px;
    background-color: #fff;
    position: absolute;
    top: 160px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.card .coment .ebook{
    font-size: 10px;
    padding: 8px 10px;
    color: rgb(185, 185, 185);
}
.card .coment i{
    color: orangered;

}
.card .coment1{
    width: 300px;
    height: 65px;
    padding: 15px;
    background-color: #fff;
    position: absolute;
    top: 175px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.card .coment1 .oliur{
    font-size: 10px;
    padding: 8px 10px;
    color: rgb(185, 185, 185);
}
.card .coment2{
    width: 300px;
    height: 80px;
    padding: 15px;
    background-color: #fff;
    position: absolute;
    top: 160px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.card .coment2 .space{
    font-size: 10px;
    padding: 8px 10px;
    color: rgb(185, 185, 185);
}